pkgbase = shadowdate
	pkgdesc = A gothic dark-pastel desktop calendar for Linux (Rust + GTK4) with iCalendar support and a background reminder service
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/0xRavenBlack/ShadowDate
	arch = x86_64
	license = MIT
	depends = gtk4
	depends = glib2
	options = !debug
	source = shadowdate::https://github.com/0xRavenBlack/ShadowDate/releases/download/v0.7.0/shadowdate-0.7.0-x86_64-linux
	source = shadowdate-service::https://github.com/0xRavenBlack/ShadowDate/releases/download/v0.7.0/shadowdate-service-0.7.0-x86_64-linux
	source = 0xravenblack.shadowdata.desktop::https://raw.githubusercontent.com/0xRavenBlack/ShadowDate/v0.7.0/0xravenblack.shadowdata.desktop
	source = logo.svg::https://raw.githubusercontent.com/0xRavenBlack/ShadowDate/v0.7.0/resources/svg/logo.svg
	source = shadowdate-service.service::https://raw.githubusercontent.com/0xRavenBlack/ShadowDate/v0.7.0/shadowdate-service.service
	source = LICENSE::https://raw.githubusercontent.com/0xRavenBlack/ShadowDate/v0.7.0/LICENSE
	sha256sums = 713b90f04bf356498e19d1f5f4065eb6947dac51142f81606c277faf1af15c97
	sha256sums = 793d50d2f415159868f0864a3df347c7da6ee7de2e7b5eea2d368a8e253da3b5
	sha256sums = 8a9962947917a207b2648c9be705f5e6c2f64120085bf514929fe11c20ca8b6e
	sha256sums = 3c0e4fbf0037795dcc9013a871cf18a289ab183ac0809111e74a58580d0b1c03
	sha256sums = 1b0a55a83d591047c5e244a40f991fbb151bf98aeb39a5856272731442043301
	sha256sums = 32c7d774d68ff9f1adc053fd55c2ac1a1c0f31bbfabed2528acb96c05ce64e00

pkgname = shadowdate
