pkgbase = shadowdate
	pkgdesc = A gothic dark-pastel desktop calendar for Linux (Rust + GTK4) with iCalendar support
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/0xRavenBlack/ShadowDate
	arch = x86_64
	license = MIT
	depends = gtk4
	depends = glib2
	options = !debug
	source = shadowdate::https://github.com/0xRavenBlack/ShadowDate/releases/download/v0.4.0/shadowdate-0.4.0-x86_64-linux
	source = 0xravenblack.shadowdata.desktop
	source = Logo.png
	source = LICENSE
	sha256sums = 92f59b904c18a2701f870678732a797d1ab9d7a17fc82e325b634e4c8c54f32a
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = shadowdate
